.appwrapper{
  display: flex;
}
.sidebar{
  background-color: #fff;
  color: black;
  transition: width 0.3s ease-in-out;
  overflow: hidden;

}
.sidebar.expanded {
  width: 200px;
}

.sidebar.collapsed {
  width: 60px;
}

.content{
  flex-grow: 1;
  padding: 20px;

  transition: margin-left 0.3s ease-in-out;
}

.divider{
  border: 1px solid rgba(211, 211, 216, 0.5);
  margin-left: 10px;
}